* {
    margin: 0;
}

header {
    background-image: url('../img/pattern.png');
    background-color: #4DA1FF;
    background-position: top center;
    height: 150px;
}

header #logo {
    width: 220px;
    height: 320px;
    padding-top: 80px; 
    padding-left: 10px;
}

main h1 {
    font-size: 45px;
}
