* {
    margin: 0;
}

/* Header e logo */
header {
    background-image: url('../img/pattern.png');
    background-color: #4DA1FF;
    background-position: top center;
    height: 150px;
}

header #logo {
    width: 220px;
    height: 320px;
    padding-top: 80px; 
    padding-left: 10px;
}

/* Container */
#container {
    padding: 10px;
}

/* Sezione con titolo */
h1 {
    font-size: 45px;
}

.title-section div {
    color: #848484;
}

.title-section .writeby {
    font-size: 20px;
    font-weight: 600;
}

.title-section .writeby a {
    color: #28B0E7;
    text-decoration: none;
}

.title-section .date {
    font-size: 15px;
}

/* Sezione con immagini */
.image-section {
    font-size: 13px;
    padding-top: 20px;
}

/* Sezione contenuti */
.content-section {
    padding-top: 20px;
}

.content-section p span {
    background-color: yellow;
}
